button {
  margin-top: 0.625rem;
  align-items: baseline;
  padding: 0.3125rem 0.625rem;
}

.backPage {
  background-color: #ffde59;
  color: black;
  margin: 0.3125rem;
  border-radius: 0.125rem;
}

article button:active {
  background-color: #ffde59;
}

* {
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo", serif;
}

.serviM {
  font-family: "Audiowide", serif;
  color: black;
}

.titlePrincipal {
  font-family: "Audiowide", serif;
  font-weight: 25rem;
  font-style: bold;
  font-size: 2.1875rem;
  margin-left: 1.25rem;
  margin-top: 0.625rem;
  color: black;
}

.textIni {
  font-size: 1.875rem;
  font-style: italic;
  display: flex;
  margin-top: 1.25rem;
  text-align: justify;
  color: black;
}

.ejemp {
  font-size: 1.5625rem;
  margin-top: 2.5rem;
  margin-left: 0.625rem;
  text-align: justify;
}

h2 {
  color: white;
  text-decoration: underline;
  text-align: center;
  margin-top: 1.25rem;
}

.txtServ p {
  text-align: center;
  color: white;
  font-size: 1.5625rem;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div img {
  width: 3.125rem;
}
header div nav ul {
  display: flex;
  list-style: none;
}
header div nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}
header div nav ul li a:hover {
  color: #ffde59;
}

.serviM {
  background-color: #ffde59;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background-color: #ffde59;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form button {
  margin-top: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
}
footer div img {
  width: 1.875rem;
}
footer div img a {
  color: white;
  font-size: 0.9375rem;
  align-items: center;
}

.gridCont {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 15.625rem);
  grid-template-rows: 200px 200px;
  grid-template-areas: "item1 item2 item3 item4" "item5 item6 item7 item8";
  justify-content: center;
  row-gap: 2.5rem;
  column-gap: 5rem;
}
.gridCont div ul li {
  text-align: center;
  list-style: none;
}

.serv-1, .serv-8, .serv-7, .serv-6, .serv-5, .serv-4, .serv-3, .serv-2 {
  background-color: #ffde59;
  grid-area: item1;
  border-radius: 0.3125rem;
  box-shadow: 0.3125rem;
}
.serv-1 h2, .serv-8 h2, .serv-7 h2, .serv-6 h2, .serv-5 h2, .serv-4 h2, .serv-3 h2, .serv-2 h2 {
  font-size: 30px;
  color: black;
  margin-bottom: 10px;
}

.serv-2 {
  background-color: #ffde59;
  grid-area: item2;
}

.serv-3 {
  background-color: #ffde59;
  grid-area: item3;
}

.serv-4 {
  background-color: #ffde59;
  grid-area: item4;
}

.serv-5 {
  background-color: #ffde59;
  grid-area: item5;
}

.serv-6 {
  background-color: #ffde59;
  grid-area: item6;
}

.serv-7 {
  background-color: #ffde59;
  grid-area: item7;
}

.serv-8 {
  background-color: #ffde59;
  grid-area: item8;
}

.secTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffde59;
  border-radius: 0.3125rem;
  box-shadow: 0.3125rem 0.3125rem 0.25rem;
  margin-top: 0.3125rem;
  object-fit: contain;
}

div {
  margin: 0;
}

.container-prod {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-prod article {
  width: 15.225rem;
  height: 18.75rem;
  background-color: #ffde59;
  margin: 1.25rem;
  text-align: center;
  color: black;
  border-radius: 0.3125rem;
  box-shadow: 0.3125rem 0.3125rem 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgPrincipal {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.prod img {
  width: 100%;
  height: 60%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .gridCont {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(4, 250px);
    grid-template-areas: "item1 item2" "item3 item4" "item5 item6" "item7 item8";
  }
}
@media (max-width: 768px) {
  header div img {
    align-items: center;
    justify-content: center;
  }
  .navBar {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
