@media (max-width: 425px) {
    .textMain {
        width: 90%;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        margin: 0 auto;
        padding: 10px;
    }
    .textMain h1 {
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    .gridCont{
        grid-template-columns: repeat(1,300px);
        grid-template-rows: repeat(8,200px);
        grid-template-areas: 
        
        "item1" 
        "item2"
        "item3" 
        "item4"
        "item5" 
        "item6"
        "item7" 
        "item8"
        ;
    }
}