@media (max-width: 375px) {
    .textMain {
        width: 90%; // Para que no ocupe todo el ancho
        font-size: 10px; // Reduce el tamaño del texto
        line-height: 1.4; // Mejora la legibilidad
        text-align: center; // Centra el texto
        margin: 0 auto; // Asegura que quede centrado
        padding: 10px;
    }
    .textMain h1 {
      font-size: 20px; // Tamaño del título más pequeño
    }
}

@media (max-width: 375px) {
    .gridCont{
        grid-template-columns: repeat(1,300px);
        grid-template-rows: repeat(8,250px);
        grid-template-areas: 
        
        "item1" 
        "item2"
        "item3" 
        "item4"
        "item5" 
        "item6"
        "item7" 
        "item8"
        ;
    }
}