@media (max-width:768px) {
    .gridCont{
        grid-template-columns: repeat(2,300px);
        grid-template-rows: repeat(4,250px);
        grid-template-areas: 
        
        "item1 item2"
        "item3 item4"
        "item5 item6"
        "item7 item8"
        ;
    }
}

@media(max-width:768px) {
    .navMain{
        div{
            align-items: center;
        }
    }
}

@media(max-width:768px){
    .navBar{
        flex-wrap: wrap;
        position: relative;
    }
    #menu-toggle:checked ~ .nav-links {
        display: none;
        flex-direction: row;
        gap: .625rem;
    }
    .nav-links {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: rgba(44, 44, 44, 0.9);
        text-align: center;
        padding: 10px 0;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 1000;
    }
    .menu-icon {
        display: block;
    }
}

@media (max-width: 768px) {
    .sectQS {
        padding: 20px;
    }

    .diQS {
        max-width: 100%;
        width: 90%;
        font-size: 16px;
        line-height: 1.6;
    }
}