@media (max-width:768px) {
    .gridCont{
        grid-template-columns: repeat(2,300px);
        grid-template-rows: repeat(4,250px);
        grid-template-areas: 
        
        "item1 item2"
        "item3 item4"
        "item5 item6"
        "item7 item8"
        ;
    }
}

@media(max-width:768px) {
    header{
        div{
            img{
                align-items: center;
                justify-content: center;
            }
        }
    }
    .navBar{
        text-align: center;
    }
}