button {
    margin-top: .625rem;
    align-items: baseline;
    padding: .3125rem .625rem;
}

.backPage {
    background-color: lightyellow;
    color: black;
    margin: .3125rem;
    border-radius: .125rem;
}