button {
    margin-top: .625rem;
    align-items: baseline;
    padding: .3125rem .625rem;
}

.backPage {
    background-color: #ffde59;
    color: black;
    margin: .3125rem;
    border-radius: .125rem;
}

article button:active{
    background-color: #ffde59;
}

