.gridCont{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 15.625rem);
    grid-template-rows: 200px 200px;
    grid-template-areas: 
    
    "item1 item2 item3 item4"
    "item5 item6 item7 item8"
    ;
    justify-content: center;
    row-gap: 2.5rem;
    column-gap: 5rem;
    div{
        ul{
            li{
                text-align: center;
                list-style: none;
            }
        }
    }
}

.serv-1 {
    background-color: #ffde59;
    grid-area: item1;
    border-radius: .3125rem;
    box-shadow: .3125rem;
    h2{
        font-size: 30px;
        color: black;
        margin-bottom: 10px;
    }
}
.serv-2 {
    @extend .serv-1; 
    background-color: #ffde59;
    grid-area: item2;
}
.serv-3 {
    background-color: #ffde59;
    grid-area: item3;
    @extend .serv-1;
}
.serv-4 {
    background-color: #ffde59;
    grid-area: item4;
    @extend .serv-1;
}
.serv-5 {
    background-color: #ffde59;
    grid-area: item5;
    @extend .serv-1;
}
.serv-6 {
    background-color: #ffde59;
    grid-area: item6;
    @extend .serv-1;
}
.serv-7 {
    background-color: #ffde59;
    grid-area: item7;
    @extend .serv-1;
}
.serv-8 {
    background-color: #ffde59;
    grid-area: item8;
    @extend .serv-1;
}
