
.serviM{
    font-family: "Audiowide", serif;
    color: black;
}

.destacadosMain{
    h2{
        background-color: #ffde59;
        color: black;
    }

}

.titlePrincipal{
    font-family: "Audiowide", serif;
    font-weight: 25rem;
    font-style: bold;
    font-size: 1.875rem;
    margin-left: 1.25rem;
    margin-top: .625rem;
}

.textIni {
    font-size: 1.25rem;
    font-style: italic;
    display: flex;
    margin-top: 1.25rem;
    text-align: justify;
}

.ejemp {
    font-size: 1.25rem;
    margin-top: 2.5rem;
    margin-left: .625rem;
    text-align: justify;
}

h2{
    color: white;
    text-decoration: underline;
    text-align: center;
    margin-top: 1.25rem;
}

.txtServ{
    p{
        text-align: center;
        color: white;
        font-size: 1.5625rem;
    }
}

.sectQS{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    div{
        max-width: 900px;
        width: 80%;
        text-align: justify;
        font-size: 18px;
        line-height: 1.8;
        color: white;
    }
}